.app {
    display: grid;
    //background-image: url("images/backgroundimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    grid-template-columns: 1fr 7fr;
    grid-template-rows: 100px;
    grid-template-areas:
        'header header'
        'sidebar main';
    //max-height: 100vh;
    //overflow: visible;
    &-header {
        grid-area: header;


    }
    &-sidebar {
        grid-area: sidebar;

    }
    &-main {
        grid-area: main;
       //overflow: scroll;
       // max-height: 500px;


        &-text{
            font-weight:bold;
            font-family: solis;
            font-size: large;
            display: flex;
          margin-left: 2rem;

        }

        &-loader{
            display: flex;
            margin-left: 2rem;
        }


    }
}
/* Extra small devices (phones, 640px and down) */
@media only screen and (max-width: 640px) {
    .app {
        grid-template-rows: 200px;

        grid-template-areas:
        'header header'
        'main main';

        &-sidebar {
            display: none;
        }

        &-main{
            &-text{
                font-weight:bold;
                font-family: solis;
                font-size: large;
                //display: flex;
                margin-left: 1rem;


            }

        }
    }
}

//@media only screen and (max-width: 640px) {
//    .app {
//
//        grid-template-areas:
//        'header header'
//        'main main';
//        &-sidebar {
//            display: none;
//        }
//    }
//}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
